<footer>
  <div class="slate">
    <div class="eight columns">
      <div class="float-right">
        <a href="https://www.twitter.com/vargheseraphy"><button class="twitter"><i class="fa fa-twitter"></i></button></a>
        <a href="https://www.linkedin.com/in/vargheseraphy"><button class="linkedin"><i class="fa fa-linkedin"></i></button></a>
        <a href="https://github.com/vargheseraphy"><button class="github"><i class="fa fa-github"></i></button></a>
        <span class="padder"></span>
        <!-- <a href="https://xian.geord.ee"><button class="links">XIAN</button></a>
        <a href="https://tech.geord.ee"><button class="links">TECH</button></a> -->
      </div>
    </div>
  </div>
  <div class="slate">
    <div class="four columns">
      <p>&copy; {{ site.time | date: '%Y' }}</p>
    </div>
  </div>

  <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="/assets/javascripts/application.js"></script>

</footer>
