---
layout: master
---

<section>
  <div class="eight columns">
    <h4 class="post-title"><a>{{ page.title }}</a></h4>
    <a href="/archives/"><span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span></a>

    <article class="post-content">
    {{ content }}
    </article>

    <hr/>

    <div class="metadata">
      <span><i class="fa fa-clock-o"></i><a>{{ page.date | date: "%b %-d, %Y" }}</a></span>
      {% if page.author %}
        <span><i class="fa fa-pencil"></i><a>{{ page.author }}</a></span>
      {% endif %}
      {% if page.categories %}
        <span><i class="fa fa-bookmark-o"></i><a>{{ page.categories | array_to_sentence_string }}</a></span>
      {% endif %}
    </div>

  </div>
  <br class="clear" />
</section>
